<div class="container">
    <!-- polje za unos sadrzaja teksta -->
    <div class="form-group row">
        <label>Text</label>
        <input type="text" [(ngModel)]="tool.textContent" class="form-control bg-dark text-white">
    </div>
    <!-- polje za izbor boje teksta -->
    <div class="form-group row">
        <label class="form-label">Text color</label>
        <input type="color" [(ngModel)]="tool.color" class="form-control form-control-color bg-dark color-style">
    </div>
    <!-- polje za unost velicine teksta -->
    <div class="form-group row">
        <label>Font size</label>
        <input type="number" value="10" [(ngModel)]="tool.size" class="form-control bg-dark text-white input-number">
    </div>
    <!-- polja za unos/prikaz pozicije teksta -->
    <div class="form-group row">
        <label>Position</label>   
        <input type="number" [(ngModel)]="tool.positionX" class="form-control bg-dark text-white input-number">
        <input type="number" [(ngModel)]="tool.positionY" class="form-control bg-dark text-white input-number">
    </div>    
</div>
