<div class="row h-100">
    <div class="col-12 d-flex flex-column">
        <div class="row">
            <!-- select polje za izbor tipa odevnog predmeta -->
            <div class="col-6">
                <select class="w-100 custom-select bg-dark text-white"
                    (ngModelChange)="onTypeChanged($event)" [(ngModel)]="selectedItemId">
                    <option [value]="undefined">--- Select Type ---</option>
                    <option *ngFor="let item of clothingItems" [value]="item._id">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <!-- select polje za izbor velicine odevnog predmeta -->
            <div class="col-6">
                <select class="w-100 custom-select bg-dark text-white" [ngModel]="selectedSize"
                    (ngModelChange)="onSizeChanged($event)">
                    <option [ngValue]="undefined">--- Select Size ---</option>
                    <option [ngValue]="'XS'">Extra small</option>
                    <option [ngValue]="'S'">Small</option>
                    <option [ngValue]="'M'">Medium</option>
                    <option [ngValue]="'L'">Large</option>
                    <option [ngValue]="'XL'">Extra large</option>
                </select>
            </div>
        </div>
        <div class="col-12 canvas flex-grow-1 my-2">
            <!-- deo za izbor alata -->
            <div class="toolbar">
                <!-- dugme za imag alat -->
                <span (click)="toolToAdd='IMG'"
                    [ngClass]="{'selected': toolToAdd=='IMG'}"
                    class="tool bg-dark text-white">
                    <mat-icon>add_photo_alternate</mat-icon>
                </span>
                <!-- dugme za text alat -->
                <span (click)="toolToAdd='TEXT'" 
                    [ngClass]="{'selected': toolToAdd=='TEXT'}"
                    class="tool bg-dark text-white">
                    <mat-icon> title</mat-icon>
                </span>
            </div>
            <!-- kontejner za prikaz i uredjivanje dizajna -->
            <div *ngIf="selectedItem"
                (click)="addTool($event)" 
                class="canvas-img" 
                [style.background-image]="backgroundImg">
                <div class="mask"
                    [ngStyle]="{
                        'background': product ? product.color : '#ffffff',
                        '-webkit-mask-image': backgroundImg
                    }">
                </div>
                <!-- prikaz svih dodatih image alata na canavasu na selektovanoj strani -->
                <!-- TODO probati bez cdkDragStarted -->
                <div *ngFor="let img of imgToolsCurrentSide"
                    (click)="setSelectedTool(img, $event)"
                    [ngStyle]="{
                        'transform': 'translate3d(' + img.positionX + 'px,' + img.positionY + 'px,' + '0)',
                        'width': img.width + 'px',
                        'height': img.height + 'px',
                        'opacity': img.opacity / 10
                    }"
                    [ngClass]="{
                        'selected-item': img == selectedTool
                    }"
                    (cdkDragEnded)="dragEnd($event)"
                    (cdkDragStarted)="setSelectedTool(img)"
                    class="img-tool"
                    cdkDragBoundary=".canvas" cdkDrag>
                    <img [src]="img.imageContent" />
                </div>
                <!-- prikaz svih dodatih text alata na canavasu na selektovanoj strani -->
                <!-- TODO probati bez cdkDragStarted -->
                <div *ngFor="let text of textToolsCurrentSide"
                    (click)="setSelectedTool(text, $event)"
                    [ngStyle]="{
                        'transform': 'translate3d(' + text.positionX + 'px,' + text.positionY + 'px,' + '0)',
                        'fontSize': text.size + 'px',
                        'color': text.color
                    }"
                    [ngClass]="{'selected-item': text == selectedTool}"
                    class="text-tool"
                    (cdkDragEnded)="dragEnd($event)"
                    (cdkDragStarted)="setSelectedTool(text)"
                    cdkDragBoundary=".canvas" cdkDrag>
                    {{text.textContent}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-2">
            </div>
            <!-- 2 dugmeta za selektovanje strane koja se dizjania -->
            <div class="col-8 text-center">
                <button 
                    (click)="changeSide('f')" 
                    class="mx-3 bg-dark text-white" 
                    value="f" 
                    placeolder="Front side">F</button>
                <button 
                    (click)="changeSide('b')"
                    class="mx-3 bg-dark text-white" 
                    value="b" 
                    placeolder="Back side">B</button>
            </div>
            <!-- dugme za cuvanje produkta -->
            <div class="col-2 text-right">
                <button 
                (click)="saveProduct()"
                class="save-btn text-white">SAVE</button>
            </div>
        </div>
    </div>
</div>