.canvas {
    flex: 1;
    border: 3px solid black;
    text-align: center;
    min-height: 75vh;
    padding-top: 40px;
}

.canvas-img {
    width: auto;
    height: 750px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

.canvas-img .mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    content: "";
    mix-blend-mode: multiply;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
}

.toolbar .tool {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.toolbar .tool.selected {
    background-color: lightgray !important;
}

.img-tool, .text-tool {
    position: absolute;
}

.img-tool img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected-item {
    outline: 5px dotted gray;
}

.save-btn {
    background-color: green;
}