<div class="sidenav">
   <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login or register from here to access.</p>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <app-login (showComponent)="onShowComponent($event)"></app-login>
      <app-registration *ngIf="hide"></app-registration>

   </div>
</div>