<div class="row mx-0">
    <div class="col-4">
        <div class="container">
            <!-- polje za unos nazaiva produkta -->
            <div class="form-group row">
                <label>Name</label>
                <input type="text" [(ngModel)]="product.name" class="form-control bg-dark text-white">
            </div>
            <!-- polje za izbor boje produkta -->
            <div class="form-group row">
                <label class="form-label">Color</label>
                <input type="color" [(ngModel)]="product.color" class="form-control form-control-color bg-dark color-style">
            </div>
            <!-- polja za postavljanje public/private statusa produkta -->
            <div class="form-group row">
                <label class="radio-inline">
                <input type="radio" name="public" [(ngModel)]="product.pub" [value]="true">Public</label>
                <label class="radio-inline">
                <input type="radio" name="public" [(ngModel)]="product.pub" [value]="false">Private</label>
            </div>
        </div>
        <!-- komponenta text tool -->
        <app-text *ngIf="isTextToolSelected" [tool]="selectedTool"></app-text>
        <!-- komponenta image tool -->
        <app-image *ngIf="isImgToolSelected" [tool]="selectedTool"></app-image>
    </div>
    <!-- komponenta canvas -->
    <div class="col-8">
        <app-canvas [(selectedTool)]="selectedTool" [product]="product"></app-canvas>
    </div>
</div>